<template>
    <div class="row main-row">

        <!-- Button trigger modal -->
        <button ref="modal" type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    </div>
                    <div class="modal-body">
                        <h3>
                            {{ response }}
                        </h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="$router.push('/')">Yopish</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="text-1" data-aos="fade-down">
                Kursga yozilish!
            </div>
        </div>

        <div class="row d-flex justify-content-md-center">
            <div class="col-12 col-md-7" data-aos="fade-in" data-aos-delay="400">
                <div class="select-div">
                    <select aria-label="Default select example" class="form-select" v-model="course">
                        <option
                            v-if="getCourses.length > 0"
                            v-for="(course, index) in getCourses"
                            :key="index"
                            :value="course"
                        >
                            {{ course.name }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-start">
                <div class="button-div text-center mt-3" data-aos="fade-in" data-aos-delay="550">
                    <button class="bitn" @click="apply">Kursga yozilish</button>
                </div>
            </div>
        </div>

        <div v-if="course" class="row d-flex justify-content-center">
            <div class="col-12 col-lg-11">

                <div class="row ps-4 ps-xl-0">
                    <div class="col-12 col-md-6 col-xl-3 mt-4 mt-md-5" data-aos="fade-in" data-aos-delay="700">
                        <div class="card-course text-center">
                            <div class="title">Boshlanish vaqti:</div>
                            <div class="title-name">{{ dateTimeFormat(course.startingDate, true) }}</div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-xl-3 mt-md-5" data-aos="fade-in" data-aos-delay="850">
                        <div class="card-course text-center m-3">
                            <div class="title">Kurs nomi:</div>
                            <div class="title-name">{{ course.name }}r</div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-xl-3 mt-xl-5" data-aos="fade-in" data-aos-delay="1000">
                        <div class="card-course text-center m-3">
                            <div class="title">narxi:</div>
                            <div class="title-name">{{ course.price }} so'm</div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-xl-3 mt-xl-5" data-aos="fade-in" data-aos-delay="1150">
                        <div class="card-course text-center m-3">
                            <div class="title">Qolgan joylar:</div>
                            <div class="title-name">{{ course.countOfStudents - course.members }}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-12" v-if="course">
            <div class="text-2 ps-4 ps-md-3 ms-md-3 ps-xl-4 mt-xl-5 ms-xxl-5" data-aos="fade-right"
                 data-aos-delay="1300">
                <span class="dark-text">Kurs haqida ma’lumot:</span>
                {{ course.additionalInfo }}
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import dateFormattingMixin from "../mixin/dateFormattingMixin.js";

export default {
    name: "BuyCourse",
    mixins: [dateFormattingMixin],
    methods: {
        ...mapActions(['fetchCourses', 'fetchApplyToCourses']),
        apply() {
            if (this.isAuthed) {
                this.fetchApplyToCourses(this.course.id)
                    .then(() => {
                        this.response = 'Arizangiz muvaffaqiyatli qabul qilindi. Sizga operator tez orada aloqaga chiqadi'
                    })
                    .catch((res) => {
                        this.response = res
                    })
                    .finally(() => {
                        this.$refs.modal.click()
                    })
            } else {
                this.$router.push('/login')
            }
        }
    },
    mounted() {
        this.fetchCourses()
            .then(() => {
                this.course = this.getCourses[0]
            })
    },
    computed: {
        ...mapGetters(['getCourses']),
        isAuthed() {
            return this.$store.getters.isAuthenticated
        }
    },
    data() {
        return {
            course: null,
            response: ''
        }
    }
}
</script>

<style scoped>
.main-row {
    background-color: white;
}

.text-1 {
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 41px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 96px;
}

.select-div {
    margin-top: 176px;
    padding: 0 18px;
}

select {
    border-radius: 4px;
    height: 44px;
    border-color: #FFBE48;
    font-size: 20px;
    font-weight: 400;
    background-image: url("../assets/images/buy-course/Vector.svg")
}

.bitn {
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #FFBE48;
    font-size: 18px;
    padding: 5px 30px;
}

.card-course {
    border: 1px solid #FFBE48;
    border-radius: 15px;
    max-width: 364px;
    margin: 20px auto !important;
}

.title {
    font-size: 24px;
    font-weight: 600;
    line-height: 58px;
    margin-top: 38px;
}

.title-name {
    font-size: 24px;
    font-weight: 400;
    line-height: 58px;
    padding-bottom: 46px;
}

.dark-text {
    color: black;
}

.text-2 {
    font-size: 17px;
    font-weight: 400;
    line-height: 34px;
    color: #727272;
    margin-bottom: 125px;
}

@media only screen and (min-width: 768px) {
    .select-div {
        margin-top: 126px;
        padding: 0 18px;
    }

    .bitn {
        height: 44px;
        margin-top: 110px;
    }
}

@media only screen and (min-width: 1200px) {
    .text-1 {
        font-size: 51px;
        margin-top: 120px;
    }

    .title {
        font-size: 19px;
        margin-top: 10px;
    }

    .title-name {
        font-size: 18px;
        line-height: 18px;
        padding-bottom: 26px;
    }

    .text-2 {
        font-size: 19px;
        margin-bottom: 20vh;
    }
}

@media only screen and (min-width: 1400px) {
    .text-1 {
        margin-top: 112px;
    }

    .title {
        font-size: 24px;
        margin-top: 38px;
    }

    .title-name {
        font-size: 24px;
        line-height: 58px;
        padding-bottom: 46px;
    }

    .text-2 {
        font-size: 20px;
        margin-bottom: 20vh;
        max-width: 900px;
    }
}

</style>