<template>
    <div class="row">

        <!-- Button trigger modal -->
        <button ref="modal" type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    </div>
                    <div class="modal-body">
                        <h3>
                            {{ response }}
                        </h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Yopish</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-3 p-0">
            <div class="image-box"></div>
        </div>

        <div class="col-12 col-lg-9 right-side">
            <div class="col-12 d-xxl-flex justify-content-xxl-center">
                <div class="text-1">Xush kelibsiz!</div>
            </div>

            <div class="col-12 text-center input-box mt-4 d-xxl-flex justify-content-xxl-center">
                <input v-model="modelForm.email" placeholder="email" type="email">
            </div>

            <div class="col-12 text-center input-box mt-4 d-xxl-flex justify-content-xxl-center">
                <input v-model="modelForm.password" placeholder="parol" type="password">
            </div>
            <div class="col-12 text-center input-box mt-4 d-xxl-flex justify-content-xxl-center">
                Agar akkauntingiz bo'lmasa, <span @click="register" style="color: #6B47FC; cursor: pointer"> &nbsp; ro'yhatdan o'ting</span>
            </div>

            <div class="col-12 mt-4 input-box text-center">
                <div class="btn-box">
                    <button @click="login">
                        <div v-if="isLoading" class="spinner-border text-light" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        Kirish
                    </button>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import loginMixin from "../mixin/loginMixin.js";

export default {
    name: "Register",
    mixins: [loginMixin],
    data() {
        return {
            isLoading: false,
            modelForm: {
                password: '',
                email: ''
            }
        }
    },
    methods: {
        register() {
            this.$router.push('/register')
        },
    }
}
</script>

<style scoped>
.image-box {
    background-image: url("../assets/images/register/img_1.png");
    height: 100px;
    width: 100%;
    background-size: cover;
}

.text-1 {
    margin-top: 37px;
    text-align: center;
    color: black;
    font-size: 21px;
    font-weight: 500;
    line-height: 24px;
}

input {
    width: 100%;
    max-width: 660px;
    border: none;
    background-color: #dadada;
    border-radius: 3px;
    height: 43px;
    padding-left: 11px;
    font-size: 13px;
}

button {
    border: none;
    border-radius: 8px;
    background-color: #6C63FF;
    color: white;
    font-size: 15px;
    line-height: 24px;
    width: 100% !important;
    max-width: 660px;
    height: 43px;
}

.btn-box {
    width: 100%;
}

@media only screen and (min-width: 992px) {
    .image-box {
        background-image: url("../assets/images/register/img.png");
        height: 100vh;
    }

    .right-side {
        height: 100vh;
        overflow-y: scroll;
        user-select: none;
        padding-top: 17vh;
        padding-bottom: 50px;
    }

    .text-1 {
        font-size: 28px;
        text-align: left;
        padding-left: 50px;
        margin-top: 60px;
    }

    .input-box {
        display: flex;
    }

    .right-side {
        padding-left: 100px;
    }

    input {
        height: 79px;
        padding-left: 35px;
        border-radius: 8px;
        font-size: 21px;
    }

    button {
        font-size: 25px;
        height: 79px;
    }

    .btn-box {
        text-align: left;
        width: 100%;
    }
}

@media only screen and (min-width: 1400px) {
    input {
        border-radius: 15px;
        padding-left: 21px;
    }

    button {
        font-size: 25px;
        height: 79px;
        border-radius: 15px;
    }

    .btn-box {
        text-align: center;
        width: 100%;
    }
}
</style>