<template>
    <Header color="#FFFBF4"/>

    <div class="row main-row">

        <div class="col-12 col-md-6 col-xl-7 mt-md-5 ps-md-5">
            <div class="text-1 mt-5" data-aos="fade-down-right" data-aos-delay="100">
                ORZU QILGAN KASBINGIZGA BIZ BILAN BIRGA ERISHING!
            </div>
            <div class="text-2" data-aos="fade-right" data-aos-delay="100">
                Kelajak sizning qo’lingizda !
            </div>
        </div>

        <div class="col-12 col-md-6 col-xl-5 text-center">
            <div class="reception-img" data-aos="fade-in" data-aos-delay="400">
                <img alt="#" src="../assets/images/reception/reception.png">
            </div>
        </div>

        <div class="col-12">
            <div class="text-3" data-aos="fade-up" data-aos-easing="linear">
                Hozir bizda dasturlash va kiberxavfsizlik yo‘nalishlar mavjud.
            </div>
        </div>

        <div v-if="getCourses.length > 0" class="col-12 ps-xxl-5 d-flex flex-wrap justify-content-around">
            <div v-for="(course, index) in getCourses"
                 :key="index"
                 class="course-card mt-5 pt-4"
                 style="position: relative"
                 data-aos="fade-in"
                 data-aos-delay="400"
            >
                <img src="../assets/images/reception/Ellipse.png" alt="#">
                <span style="position: absolute;top: -16px;color: white;left: 180px;font-size: 20px;font-weight: bolder;">{{ index + 1 }}</span>
                <div class="course-name">
                    {{ course.name }}
                </div>
                <div class="course-text-2 pt-3">
                    Siz qo'lga kiritadigan ko'nikmalar:
                </div>
                <div class="course-description pb-4">
                    <span v-for="(skill, index2) in course.futureSkills.split('/')" :key="index2">
                        {{ skill }}<br/>
                    </span>
                </div>
                <div class="pb-4">
                    <button class="course-btn" @click="buyCourse"> Kursga yozilish</button>
                </div>
            </div>
        </div>

        <!-- BG vector -->
        <div>
            <img alt="#" class="bg-vector" src="../assets/images/reception/bg-vector.png">
        </div>

        <div class="col-12 col-md-8 col-xl-6">
            <div class="title" data-aos="fade-right">
                Lavia bilan malakali mutaxasislardan dars oling!
            </div>
        </div>

        <div class="col-12 col-md-4 col-xl-6 text-center" data-aos="fade-right">
            <div class="button-div">
                <button class="get-course-btn mt-3 mt-md-0" @click="buyCourse"> Kursga yozilish</button>
            </div>
        </div>

        <div class="row d-flex justify-content-center" v-if="getTeachers.length > 0">
            <div
                class="col-12 col-md-6 col-xl-3 text-center mt-5"
                data-aos="fade-up"
                data-aos-delay="400"
                v-for="(teacher, index) in getTeachers" :key="index"
            >
                <img style="width: 100%" :src="url + teacher.picture.contentUrl" alt="#">
                <div class="teacher-name">{{ teacher.givenName + ' ' + teacher.familyName }}</div>
                <div class="teacher-position">{{ teacher.degree }}</div>
                <div class="teacher-diploma">{{ teacher.experience }}</div>
                <div class="social-links">
      <span>
        <svg fill="none" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
          <path
              d="M15.3657 8.1875C15.3657 7.6875 15.3032 7.3125 15.2407 6.90625H7.86574V9.5625H12.2407C12.0845 10.7188 10.9282 12.9062 7.86574 12.9062C5.20949 12.9062 3.05324 10.7188 3.05324 8C3.05324 3.65625 8.17824 1.65625 10.9282 4.3125L13.0532 2.28125C11.7095 1.03125 9.92824 0.25 7.86574 0.25C3.55324 0.25 0.115741 3.71875 0.115741 8C0.115741 12.3125 3.55324 15.75 7.86574 15.75C12.3345 15.75 15.3657 12.625 15.3657 8.1875Z"
              fill="#3B3B3B"/>
       </svg>
      </span>
                    <span>
        <svg fill="none" height="14" viewBox="0 0 17 14" width="17" xmlns="http://www.w3.org/2000/svg">
          <path
              d="M15.0474 3.75C15.6724 3.28125 16.2349 2.71875 16.6724 2.0625C16.1099 2.3125 15.4536 2.5 14.7974 2.5625C15.4849 2.15625 15.9849 1.53125 16.2349 0.75C15.6099 1.125 14.8911 1.40625 14.1724 1.5625C13.5474 0.90625 12.7036 0.53125 11.7661 0.53125C9.95363 0.53125 8.48488 2 8.48488 3.8125C8.48488 4.0625 8.51613 4.3125 8.57863 4.5625C5.85988 4.40625 3.42238 3.09375 1.79738 1.125C1.51613 1.59375 1.35988 2.15625 1.35988 2.78125C1.35988 3.90625 1.92238 4.90625 2.82863 5.5C2.29738 5.46875 1.76613 5.34375 1.32863 5.09375V5.125C1.32863 6.71875 2.45363 8.03125 3.95363 8.34375C3.70363 8.40625 3.39113 8.46875 3.10988 8.46875C2.89113 8.46875 2.70363 8.4375 2.48488 8.40625C2.89113 9.71875 4.10988 10.6562 5.54738 10.6875C4.42238 11.5625 3.01613 12.0938 1.48488 12.0938C1.20363 12.0938 0.953632 12.0625 0.703632 12.0312C2.14113 12.9688 3.85988 13.5 5.73488 13.5C11.7661 13.5 15.0474 8.53125 15.0474 4.1875C15.0474 4.03125 15.0474 3.90625 15.0474 3.75Z"
              fill="#3B3B3B"/>
        </svg>
      </span>
                    <span>
        <svg fill="none" height="15" viewBox="0 0 15 15" width="15" xmlns="http://www.w3.org/2000/svg">
          <path
              d="M7.07393 3.40625C5.07393 3.40625 3.48018 5.03125 3.48018 7C3.48018 9 5.07393 10.5938 7.07393 10.5938C9.04268 10.5938 10.6677 9 10.6677 7C10.6677 5.03125 9.04268 3.40625 7.07393 3.40625ZM7.07393 9.34375C5.79268 9.34375 4.73018 8.3125 4.73018 7C4.73018 5.71875 5.76143 4.6875 7.07393 4.6875C8.35518 4.6875 9.38643 5.71875 9.38643 7C9.38643 8.3125 8.35518 9.34375 7.07393 9.34375ZM11.6364 3.28125C11.6364 2.8125 11.2614 2.4375 10.7927 2.4375C10.3239 2.4375 9.94893 2.8125 9.94893 3.28125C9.94893 3.75 10.3239 4.125 10.7927 4.125C11.2614 4.125 11.6364 3.75 11.6364 3.28125ZM14.0114 4.125C13.9489 3 13.6989 2 12.8864 1.1875C12.0739 0.375 11.0739 0.125 9.94893 0.0625C8.79268 0 5.32393 0 4.16768 0.0625C3.04268 0.125 2.07393 0.375 1.23018 1.1875C0.41768 2 0.16768 3 0.10518 4.125C0.0426798 5.28125 0.0426798 8.75 0.10518 9.90625C0.16768 11.0312 0.41768 12 1.23018 12.8438C2.07393 13.6562 3.04268 13.9062 4.16768 13.9688C5.32393 14.0312 8.79268 14.0312 9.94893 13.9688C11.0739 13.9062 12.0739 13.6562 12.8864 12.8438C13.6989 12 13.9489 11.0312 14.0114 9.90625C14.0739 8.75 14.0739 5.28125 14.0114 4.125ZM12.5114 11.125C12.2927 11.75 11.7927 12.2188 11.1989 12.4688C10.2614 12.8438 8.07393 12.75 7.07393 12.75C6.04268 12.75 3.85518 12.8438 2.94893 12.4688C2.32393 12.2188 1.85518 11.75 1.60518 11.125C1.23018 10.2188 1.32393 8.03125 1.32393 7C1.32393 6 1.23018 3.8125 1.60518 2.875C1.85518 2.28125 2.32393 1.8125 2.94893 1.5625C3.85518 1.1875 6.04268 1.28125 7.07393 1.28125C8.07393 1.28125 10.2614 1.1875 11.1989 1.5625C11.7927 1.78125 12.2614 2.28125 12.5114 2.875C12.8864 3.8125 12.7927 6 12.7927 7C12.7927 8.03125 12.8864 10.2188 12.5114 11.125Z"
              fill="#3B3B3B"/>
        </svg>
      </span>
                    <span>
        <svg fill="none" height="14" viewBox="0 0 15 14" width="15" xmlns="http://www.w3.org/2000/svg">
          <path
              d="M13.8523 0H1.821C1.28975 0 0.85225 0.46875 0.85225 1.03125V13C0.85225 13.5625 1.28975 14 1.821 14H13.8523C14.3835 14 14.8523 13.5625 14.8523 13V1.03125C14.8523 0.46875 14.3835 0 13.8523 0ZM5.071 12H3.0085V5.34375H5.071V12ZM4.03975 4.40625C3.35225 4.40625 2.821 3.875 2.821 3.21875C2.821 2.5625 3.35225 2 4.03975 2C4.696 2 5.22725 2.5625 5.22725 3.21875C5.22725 3.875 4.696 4.40625 4.03975 4.40625ZM12.8523 12H10.7585V8.75C10.7585 8 10.7585 7 9.696 7C8.60225 7 8.446 7.84375 8.446 8.71875V12H6.3835V5.34375H8.35225V6.25H8.3835C8.66475 5.71875 9.35225 5.15625 10.3523 5.15625C12.446 5.15625 12.8523 6.5625 12.8523 8.34375V12Z"
              fill="#3B3B3B"/>
        </svg>
      </span>
                </div>
            </div>
        </div>

    </div>
    <Footer/>
</template>

<script>
import Header from "../components/Header.vue";
import Footer from "../components/Footer.vue";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "Reception",
    methods: {
        ...mapActions(['fetchTeachers', "fetchCourses"]),
        buyCourse() {
            this.$router.push('/buy-course')
        }
    },
    data() {
        return {
            url: import.meta.env.VITE_APP_API_URL
        }
    },
    components: {Footer, Header},
    mounted() {
        this.fetchTeachers()
        this.fetchCourses()
    },
    computed: {
        ...mapGetters([
            "getTeachers",
            "getCourses"
        ])
    }
}
</script>

<style scoped>
.main-row {
    background: linear-gradient(90.63deg, #FFFBF4 21.32%, #F7FCF9 132.04%);
    padding-bottom: 150px;
}

.text-1 {
    font-size: 33px;
    font-weight: 700;
    line-height: 43px;
    text-align: center;
    color: #111116;
}

.text-2 {
    font-size: 21px;
    line-height: 58px;
    text-align: center;
    color: #8B8585;
}

.reception-img > img {
    width: 100%;
    max-width: 912px;
}

.text-3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
}

.course-card {
    background-color: white;
    box-shadow: 0 0 15px 0 #0000001F;
    border-radius: 20px;
    text-align: center;
    padding: 0 15px;
    max-width: 398px;
}

.course-card > img {
    width: 80px;
    margin-top: -75px;
}

.course-name {
    font-size: 29px;
    font-weight: 700;
    line-height: 37px;
}

.course-text-2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    color: #3B3B3B;
}

.course-description {
    font-size: 18px;
    line-height: 24px;
    margin-top: 29px;
    color: #979797;
}

.course-btn {
    background-color: #FA3913;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 12px;
    box-shadow: 5px 10px 30px 0 #FFA5024D;
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
}

.bg-vector {
    position: absolute;
    left: 0;
    margin-top: 150px;
}

.title {
    font-size: 21px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    margin-top: 300px;
}

.get-course-btn {
    color: white;
    border: none;
    font-size: 20px;
    line-height: 26px;
    border-radius: 15px;
    padding: 18px;
    background-color: #FFA502;
    box-shadow: 5px 10px 30px 0 #FFA5024D;
}

.teacher-name {
    font-size: 22px;
    color: #3B3B3B;
    font-weight: 700;
    line-height: 34px;
}

.teacher-position, .teacher-diploma {
    font-family: Rubik, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    color: #6F6F76;
}

.social-links > span {
    margin: 2px;
}

@media only screen and (min-width: 768px) {
    .text-1 {
        text-align: left;
        font-size: 40px;
        line-height: 50px;
    }

    .text-2 {
        text-align: left;
    }

    .text-3 {
        font-size: 25px;
        line-height: 58px;
    }

    .title {
        font-size: 30px;
        line-height: 38px;
        text-align: left;
        margin-top: 175px;
        padding-left: 50px;
        width: 550px;
    }

    .button-div {
        display: flex;
        justify-content: center;
        margin-top: 185px;
    }
}

@media only screen and (min-width: 1200px) {
    .text-1 {
        font-size: 70px;
        line-height: 90px;
        margin-top: 100px;
    }

    .text-2 {
        text-align: left;
        font-size: 39px;
    }

    .text-3 {
        font-size: 39px;
        margin: 40px;
    }

    .course-card {
        width: 630px;
    }

    .course-card > img {
        width: 110px;
        margin-top: -75px;
    }

    .course-description {
        font-size: 22px;
        line-height: 34px;
    }

    .course-btn {
        border-radius: 15px;
        padding: 18px;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .title {
        font-size: 40px;
        line-height: 58px;
        margin-top: 175px;
        padding-left: 80px;
        width: 750px;
    }

    .button-div {
        margin-top: 225px;
    }
}
</style>