<template>
    <div class="row">

        <!-- Button trigger modal -->
        <button ref="modal" type="button" class="btn btn-primary d-none" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    </div>
                    <div class="modal-body">
                        <h3>
                            {{ response }}
                        </h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Yopish</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-3 p-0" >
            <div class="image-box"></div>
        </div>

        <div class="col-12 col-lg-9 right-side">
            <div class="col-12 d-xxl-flex justify-content-xxl-center">
                <div v-if="!isSettings" class="text-1">Xush kelibsiz!</div>
                <div v-if="isSettings" class="text-1"></div>
            </div>

            <div class="col-12 d-xxl-flex justify-content-xxl-center">
                <div v-if="!isSettings" class="text-2">Ro’yxatdan o’tish</div>
                <div v-if="isSettings" class="text-2">Foydalanuvchi sozlamalari</div>
            </div>

            <div class="col-12 text-center input-box mt-3 d-xxl-flex justify-content-xxl-center" >
                <input required v-model="modelForm.givenName" @change="validName" placeholder="Ism" type="text">
            </div>

            <div class="col-12 text-center input-box mt-3 d-xxl-flex justify-content-xxl-center" >
                <input required v-model="modelForm.familyName" @change="validFamilyName" placeholder="Familya" type="text">
            </div>

            <div class="col-12 text-center input-box mt-3 d-xxl-flex justify-content-xxl-center" >
                <input required v-model="modelForm.patronymic" @change="validPatronymic" placeholder="Otasining ismi" type="text">
            </div>

            <div class="col-12 text-center input-box mt-3 d-xxl-flex justify-content-xxl-center">
                <input required v-model="modelForm.age" placeholder="Age" type="number">
            </div>

            <div class="col-12 text-center input-box mt-3 d-xxl-flex justify-content-xxl-center" >
                <input required v-model="modelForm.telephone" placeholder="Telefon raqam" type="text" @change="validPhone">
            </div>

            <div class="col-12 text-center input-box mt-3 d-xxl-flex justify-content-xxl-center">
                <input required v-model="modelForm.telegramNumber" placeholder="Telegram login" type="text" @change="validTelegramLogin">
            </div>

            <div class="col-12 text-center input-box mt-4 d-xxl-flex justify-content-xxl-center" >
                <input required v-model="modelForm.email" placeholder="E-mail" type="email" @change="validEmail">
            </div>

            <div v-if="!isSettings" class="col-12 text-center input-box mt-3 d-xxl-flex justify-content-xxl-center" >
                <input required v-model="modelForm.password" @change="minPassword" placeholder="Password" type="password">
            </div>

            <div class="col-12 text-center input-box mt-3 d-xxl-flex justify-content-xxl-center wrap">
                <input required v-model="modelForm.address" placeholder="Manzil" type="text" @change="validAddress">
            </div>

            <div class="col-12 text-center input-box mt-3 d-xxl-flex justify-content-xxl-center wrap">
                Agar akkauntingiz bo'lsa, <span @click="loginPage" style="color: #6B47FC; cursor: pointer"> &nbsp; kirish sahifasiga o'ting</span>
            </div>


            <div class="col-12 mt-3 input-box text-center">
                <div class="btn-box">
                    <button :disabled="isChanged || isError || isEmpty" type="submit" @click="add">
                        <div v-if="isLoading" class="spinner-border text-light" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <span v-if="!isSettings">Ro’yxatdan o’tish</span>
                        <span v-if="isSettings">Saqlash</span>
                    </button>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import loginMixin from "../mixin/loginMixin.js";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "Register",
    mixins: [loginMixin],
    computed: {
        ...mapGetters(['isEmailAvailable', 'getUser']),
        isChanged() {
            if (this.isSettings) {
                return this.modelForm.address !== this.getUser.address ||
                    this.modelForm.age !== this.getUser.age ||
                    this.modelForm.telephone !== this.getUser.telephone ||
                    this.modelForm.email !== this.getUser.email ||
                    this.modelForm.givenName !== this.getUser.givenName ||
                    this.modelForm.familyName !== this.getUser.familyName ||
                    this.modelForm.patronymic !== this.getUser.patronymic ||
                    this.modelForm.telegramNumber !== this.getUser.telegramNumber
            } else return false
        },
        isEmpty() {
                return this.modelForm.address === '' ||
                    this.modelForm.age === '' ||
                    this.modelForm.telephone === '' ||
                    this.modelForm.email === '' ||
                    this.modelForm.givenName === '' ||
                    this.modelForm.familyName === '' ||
                    this.modelForm.patronymic === '' ||
                    this.modelForm.telegramNumber === ''
        },
    },
    mounted() {
        if (this.$route.path === '/settings') {
            this.isSettings = true;
            this.fetchUser()
                .then(() => {
                    this.modelForm.address = this.getUser.address
                    this.modelForm.age = this.getUser.age
                    this.modelForm.telephone = this.getUser.telephone
                    this.modelForm.email = this.getUser.email
                    this.modelForm.givenName = this.getUser.givenName
                    this.modelForm.familyName = this.getUser.familyName
                    this.modelForm.patronymic = this.getUser.patronymic
                    this.modelForm.telegramNumber = this.getUser.telegramNumber
                    this.modelForm.id = this.getUser.id

                })
                .catch(reason => {
                    if (reason === 'connectionRefused') {
                        this.response = 'Aloqa yo\'q'
                        this.$refs.modal.click()
                    } else  {
                        this.response = reason.response.data['hydra:description']
                        this.$refs.modal.click()
                    }

                    this.isLoading = false;
                })
        }
    },
    methods: {
        ...mapActions(['fetchCreateUser', 'checkEmailAvailability', "fetchUser", "fetchUpdateUser"]),
        loginPage() {
            this.$router.push('/login')
        },
        add() {
            this.isLoading = true

            this.checkEmailAvailability(this.modelForm.email)
                .then(() => {
                    if (!this.isEmailAvailable) {
                        this.isLoading = false
                        this.response = 'Bu email oldin ishlatilgan'
                        this.$refs.modal.click()
                        return
                    }

                    if (this.$route.path === '/settings') {
                        this.fetchUpdateUser(this.modelForm)
                            .then(() => {
                                this.$router.push('/')
                            })
                    } else {
                        this.fetchCreateUser(this.modelForm)
                            .then(() => {
                                this.login()
                            })
                            .catch((reason) => {
                                if (reason === 'connectionRefused') {
                                    this.response = 'Aloqa yo\'q'
                                    this.$refs.modal.click()
                                } else  {
                                    this.response = reason
                                    this.$refs.modal.click()
                                }

                                this.isLoading = false;
                            })
                    }
                })
                .catch((reason) => {
                    if (reason === 'connectionRefused') {
                        this.response = 'Aloqa yo\'q'
                        this.$refs.modal.click()
                    } else {
                        this.response = 'Ro\'yxatdan o\'tishda xatolik'
                        this.$refs.modal.click()
                    }

                    this.isLoading = false
                })
                .finally(() => {
                    this.isLoading = false
                })
        },
        minPassword() {
            if (this.modelForm.password.length < 6) {
                this.response = 'Parol kamida 6 ta belgidan iborat bo\'lishi kerak'
                this.$refs.modal.click()
                this.modelForm.password = ''
                this.isError = true
            } else this.isError = false
        },
        validEmail() {
            if (!this.modelForm.email.match(/^[-_\w.]+@[-_\w.]+\.[-_\w.]+$/)) {
                this.response = 'Iltimos, to\'g\'ri email kiriting'
                this.$refs.modal.click()
                this.modelForm.email = ''
                this.isError = true
            } else this.isError = false
        },
        validTelegramLogin () {
            if (!this.modelForm.telegramNumber.match(/^@/) && this.modelForm.telegramNumber.length < 6) {
                this.response = 'Telegram login @ bilan boshlanishi kerak'
                this.$refs.modal.click()
                this.modelForm.telegramNumber = ''
                this.isError = true
            } else this.isError = false
        },
        validName() {
            if (this.modelForm.givenName.length <= 2) {
                this.response = 'Ism kamida 3 ta harfdan iborat bo\'lishi kerak\n'
                this.$refs.modal.click()
                this.modelForm.givenName = ''
                this.isError = true
            } else if (!this.modelForm.givenName.match(/^[A-Za-z]+$/)) {
                this.response = 'Ism faqatgina harflardan iborat bo\'lishi kerak\n'
                this.$refs.modal.click()
                this.modelForm.givenName = ''
                this.isError = true
            } else this.isError = false
        },
        validFamilyName() {
            if (this.modelForm.familyName.length <= 2) {
                this.response = 'Familya kamida 3 ta harfdan iborat bo\'lishi kerak'
                this.$refs.modal.click()
                this.modelForm.familyName = ''
                this.isError = true
            } else if (!this.modelForm.familyName.match(/^[A-Za-z]+$/)) {
                this.response = 'Familya faqatgina harflardan iborat bo\'lishi kerak\n'
                this.$refs.modal.click()
                this.modelForm.familyName = ''
                this.isError = true
            } else this.isError = false
        },
        validPatronymic() {
            if (this.modelForm.patronymic.length <= 2) {
                this.response = 'Otasining ismi kamida 3 ta harfdan iborat bo\'lishi kerak\n'
                this.$refs.modal.click()
                this.modelForm.patronymic = ''
                this.isError = true
            } else if (!this.modelForm.patronymic.match(/^[A-Za-z]+$/)) {
                this.response = 'Otasining ismi faqatgina harflardan iborat bo\'lishi kerak\n'
                this.modelForm.patronymic = ''
                this.isError = true
            } else this.isError = false
        },
        validAddress() {
            if (this.modelForm.address.length <= 2) {
                this.response = 'Adress kamida 3 ta harfdan iborat bo\'lishi kerak\n'
                this.$refs.modal.click()
                this.modelForm.address = ''
                this.isError = true
            } else this.isError = false
        },
        validPhone() {
            if (this.modelForm.telephone.length !== 13) {
                this.response = 'Telefon raqam + belgisi bilan boshlanishi va kamida 12 ta raqamdan iborat bo\'lishi kerak\n'
                this.$refs.modal.click()
                this.modelForm.telephone = ''
                this.isError = true
            } else if (!this.modelForm.telephone.match(/^[+]+[0-9]+$/)) {
                this.response = 'Telefon raqam + belgi bilan boshlanishi va faqatgina sonlardan iborat bo\'lishi kerak\n'
                this.$refs.modal.click()
                this.modelForm.telephone = ''
                this.isError = true
            } else this.isError = false
        },

    },
    data() {
        return {
            isError: false,
            isSettings: false,
            response: '',
            isLoading: false,
            errors: {
                companyName: null,
                givenName: null,
                email: null,
                plainPassword: null,
                telephone: null,
            },
            breadcrumbItems: [
                {name: 'home', url: ""},
                {name: 'company.create'},
            ],
            modelForm: {
                familyName: '',
                givenName: '',
                patronymic: '',
                telegramNumber: '',
                age: '',
                telephone: '',
                address: '',
                password: '',
                email: ''
            }
        }
    },
}
</script>

<style scoped>
.image-box {
    background-image: url("../assets/images/register/img_1.png");
    height: 100px;
    width: 100%;
    background-size: cover;
}

.text-1 {
    margin-top: 37px;
    text-align: center;
    color: black;
    font-size: 21px;
    font-weight: 500;
    line-height: 24px;
}

.text-2 {
    color: black;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 15px;
}

.right-side {
    height: 100vh;
    overflow-y: scroll;
    user-select: none;
    padding-bottom: 50px;
}

input {
    width: 100%;
    max-width: 660px;
    border: none;
    background-color: #dadada;
    border-radius: 3px;
    height: 43px;
    padding-left: 11px;
    font-size: 13px;
}

button {
    border: none;
    border-radius: 8px;
    background-color: #6C63FF;
    color: white;
    font-size: 15px;
    line-height: 24px;
    width: 100% !important;
    max-width: 660px;
    height: 43px;
}

.btn-box {
    width: 100%;
}

@media only screen and (min-width: 992px) {
    .image-box {
        background-image: url("../assets/images/register/img.png");
        height: 100vh;
    }

    .text-1 {
        font-size: 28px;
        text-align: left;
        padding-left: 50px;
        margin-top: 60px;
    }

    .text-2 {
        text-align: left;
        padding-left: 50px;
    }

    .input-box {
        display: flex;
        /*margin-left: 50px;*/
    }

    input {
        height: 79px;
        padding-left: 35px;
        border-radius: 8px;
        font-size: 21px;
    }

    button {
        font-size: 25px;
        height: 79px;
    }

    .btn-box {
        text-align: left;
        width: 100%;
    }

    .right-side {
        padding-left: 100px;
    }
}

@media only screen and (min-width: 1400px) {
    input {
        border-radius: 15px;
        padding-left: 21px;
    }

    button {
        font-size: 25px;
        height: 79px;
        border-radius: 15px;
    }

    .btn-box {
        text-align: center;
        width: 100%;
    }
}
</style>