<template>
    <div class="row header-row" :style="{background: color}">
        <div class="col">
            <div class="row" data-aos="fade-down" data-aos-duration="1000">
                <div class="col-3 col-md d-flex justify-content-center ms-sm-0 ms-lg-5">
                    <img src="../assets/images/logo.png" height="67" width="67" alt="logo" @click="home">
                </div>
                <div class="col-7 d-none d-md-block lists-group">
                    <span class="list-item" @click="home">Bosh sahifa</span>
                    <span class="list-item" @click="reception">Qabul</span>
                    <span class="list-item" @click="academy">Akademiya</span>
                </div>
                <div class="col d-md-block d-flex justify-content-end me-sm-0 me-lg-5">
                    <div class="register-button d-flex justify-content-end" data-bs-toggle="dropdown"
                         aria-expanded="false">
                        <img src="../assets/images/user.png" alt="" style="height: 100%">
                    </div>
                    <ul class="dropdown-menu">
                        <li v-if="isAuthed"><span class="dropdown-item" @click="settings">Sozlamalar</span></li>
                        <li v-if="isAuthed"><span class="dropdown-item" @click="logout">Chiqish</span></li>
                        <li v-if="!isAuthed"><span class="dropdown-item" @click="login">Kirish</span></li>
                        <li v-if="!isAuthed"><span class="dropdown-item" @click="register">Ro’yxatdan o’tish</span></li>
                    </ul>
                </div>
                <div class="col-1 d-block d-md-none d-flex justify-content-end">
                    <button class="show-btn" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                        <img src="../assets/images/bar-chart.png" alt="...">
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="d-flex justify-content-center">
                        <ul class="lists-group lists-toggled">
                            <li><span class="list-item" @click="home">Bosh sahifa</span></li>
                            <li><span class="list-item" @click="reception">Qabul</span></li>
                            <li><span class="list-item" @click="academy">Akademiya</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AOS from 'aos';
import 'aos/dist/aos.css';
import {mapActions} from "vuex";

AOS.init({
    delay: 200,
    duration: 1500,
    once: false,
    mirror: false
});


export default {
    name: "Header",
    computed: {
        isAuthed() {
            return this.$store.getters.isAuthenticated
        }
    },
    methods: {
        ...mapActions(['clearTokens']),
        home() {
            this.$router.push('/')
        },
        reception() {
            this.$router.push('/reception')
        },
        academy() {
            this.$router.push('/academy')
        },
        register() {
            this.$router.push('/register')
        },
        login() {
            this.$router.push('/login')
        },
        logout() {
            this.clearTokens()
            this.$router.push('/login')
        },
        settings() {
            this.$router.push('/settings')
        }
    },
    props: {
        color: {
            type: String,
            required: false,
            default: "linear-gradient(90.63deg, #FFFBF4 7.63%, #F7FCF9 100%)"
        }
    }
}
</script>

<style scoped>
* {
    font-weight: 400;
    font-size: 18px;
    color: #111116;
}

.header-row {
    padding: 37px 5vw 37px 0;
}

.lists-group {
    margin-top: 20px;
    float: left;
}

.list-item {
    text-align: start;
    padding: 0 18px;
    cursor: pointer;
}

img {
    cursor: pointer;
}

.register-button {
    width: 162px;
    height: 64px;
    border: none;
    /*box-shadow: 0 -10px 20px 0 #585867 inset;*/
    /*background-color: #111116;*/
    background-color: white;
    border-radius: 15px;
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.show-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: -20px;
}

.lists-toggled {
    list-style: none;
    text-align: center;
}

.lists-toggled > li {
    line-height: 35px;
}

</style>