<template>

    <!-- Button trigger modal -->
    <button ref="modal" type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <h3>
                        {{ response }}
                    </h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Yopish</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row main-col">
        <!-- Bg Curl -->
        <div>
            <img alt="#" class="bg-curl" src="../assets/images/curly-bg.png">
        </div>

        <!-- Btn alert -->
        <div class="alert d-flex justify-content-end">
            <!--      <div class="wrapper" data-aos="zoom-in-left" data-aos-delay="1500">-->
            <!--        <div class="icon">-->
            <!--          <div>-->
            <!--            <span class="percent">50%</span> <span class="discount">Chegirma</span>-->
            <!--          </div>-->
            <!--          <span class="tooltip">Facebook</span>-->
            <!--        </div>-->
            <!--      </div>-->
<!--            <button class="btn-alert" @click="bonus" data-aos="zoom-in-left" data-aos-delay="1500">-->
<!--                <span class="percent">50%</span> <span class="discount">Chegirma</span>-->
<!--            </button>-->
        </div>

        <div class="col-12 d-flex justify-content-center">
            <div class="header-text" data-aos="fade-up">
                Nima uchun zamonaviy kasblarni o‘rganishim kerak?
            </div>
        </div>

        <div class="col-12 ps-md-5 ps-lg-5 ps-lg-3 sms-block">
            <div class="card-box" data-aos="fade-up" data-aos-delay="100">
                <div class="d-flex">
                    <img alt="#" class="statistic-sandbox" src="../assets/images/statistic-sandbox.png">
                </div>
                <p class="card-message text-center">
                    Statistika ma‘lumotlariga qaraganda butun dunyoda<span class="percentage">71%</span>
                    odam o‘zi yoqtirmagan joyda ishlashga majbur ekan.
                </p>
            </div>
        </div>

        <div class="col-12 col-md-6 mt-3 ps-lg-5 d-flex justify-content-center justify-content-md-start">
            <img alt="#" src="../assets/images/statistic-person.png" width="300" data-aos="flip-down">
        </div>

        <div class="col-12 col-md-6">
            <div class="colored-ul">
                <ul data-aos="zoom-in">
                    <li class="items-title"> Bunga sabablar:</li>
                    <li class="item1">Daromad pastligi</li>
                    <li class="item2">Noqulay ish sharoiti</li>
                    <li class="item3">Doimiy bir xil, zerikarli ish</li>
                    <li class="item4">Ish grafigining noqulay va o'ta murakkabligi</li>
                </ul>
            </div>
        </div>

        <!-- Bg Curl -->
        <div>
            <img alt="#" class="bg-curl2" src="../assets/images/curly-bg2.png">
        </div>

        <div class="col-12 d-flex justify-content-center mb-xxl-5 pb-xxl-5">
            <div class="header-text2" data-aos="fade-up">
                Agar yuqoridagi 71% foiz insonlar qatoriga qo‘shilmay desangiz,oxirigicha o‘qing! <br/>
                <svg fill="none" height="26" viewBox="0 0 26 26" width="26" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M13 23.8334C18.9831 23.8334 23.8333 18.9832 23.8333 13.0001C23.8333 7.017 18.9831 2.16675 13 2.16675C7.01691 2.16675 2.16667 7.017 2.16667 13.0001C2.16667 18.9832 7.01691 23.8334 13 23.8334Z"
                        stroke="#3B3B3B" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    <path d="M7.58333 11.9167L13 16.2501L18.4167 11.9167" stroke="#3B3B3B" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="2"/>
                </svg>
            </div>
        </div>

        <div class="row flex-row-reverse">
            <div class="col-12 col-md-6">
                <p class="team-title ps-4" data-aos="zoom-in-left">
                    Siz zamonaviy kasblarni egallash orqali quyidagilarni qo‘lga kiritasiz:
                </p>
                <ul class="ul2 pt-4 ps-5" data-aos="zoom-in-left">
                    <li class="item2">Tajribaga qarab o‘sib boruvchi yuqori <span class="oranged">DAROMAD</span></li>
                    <li class="item3"><span class="oranged">XOHISHINGIZGA</span> ko‘ra uyda ishlash yoki qulay sharoitli
                        ofisda
                        ishlash
                    </li>
                    <li class="item4"> Doimiy sizni <span class="oranged">RIVOJLANTIRUVCHI</span>, zerikarli bo‘lmagan
                        ish
                    </li>
                </ul>
                <p class="team-bottom-text pt-5 ps-3" data-aos="fade-in" data-aos-delay="400">
                    Agar shu joygacha o‘qigan bo‘lsangiz, tabriklayman hayotingizni o‘zgartirish uchun yana bir qadam
                    qoldi !
                </p>
            </div>

            <div class="col-12 col-md-6 team-img" data-aos="zoom-in" data-aos-delay="1400">
                <img alt="#" src="../assets/images/teams.png">
            </div>

        </div>

        <div class="col-12 d-flex justify-content-center">
            <div class="header-text3" data-aos="fade-right">
                Internet rivojlanishi bilan minglab bizneslar
                <span class="fried-text">INTERNET OLAMIGA</span> kirib kelmoqda.
            </div>
        </div>

        <div class="col-12 col-md-8">
            <!-- Bg Curl -->
            <div>
                <img alt="#" class="bg-curl" src="../assets/images/curly-bg4.png" style="opacity: 0.3">
            </div>
            <div class="header3-left-side ps-md-3" data-aos="fade-up">
                <p class="header3-text mt-md-0 mt-lg-5">
                    Ular o‘z loyihalari rivoji uchun <span class="fried-text">MILLION DOLLARLAB</span> mablag‘
                    sarflashmoqda.
                    Bu million dollarlar aynan kimlarga sarf qilinmoqda bilasizmi?
                </p>
                <p class="header3-text header3-text2 mt-md-0">
                    Albatta <span class="fried-text">DASTURCHILARGA</span> sarf qilinadi!
                </p>
                <p class="header3-text mt-md-0">
                    Dasturchi-dasturlash tillari yordamida kompyuter, telefonlarga turli
                    dasturlar (ilova,web-sayt,bot,xavfsizlik ilovalari) yaratadigan inson.
                </p>
            </div>
        </div>

        <div class="col-12  col-md-4 d-flex justify-content-end">
            <!-- Bg Curl -->
            <div class="d-none d-md-block">
                <img alt="#" class="bg-curl3" src="../assets/images/curly-bg3.png">
            </div>
            <img alt="#" class="steve" src="../assets/images/steve.png" style="z-index: 1" data-aos="zoom-up">
        </div>

        <div class="col-12">
            <div class="row d-flex justify-content-center">
                <div class="col-11 about-academy text-center">
                    <div class="about-academy-text" data-aos="zoom-up">
                        <span class="fried-text2">LAVIA ACADEMY</span>
                        ham sizni shunday kasb egasi bo‘lishingizga yordam beradi. Nega aynan
                        <span class="fried-text2">LAVIA ACADEMY</span> da o‘qishingiz kerak?
                    </div>

                    <div class="about-academy-text2" data-aos="zoom-up">
                        Lavia kompaniyasi Xitoylik investorlar tomonidan
                        moliyalashtirilgan bo‘lib, O‘zbekistonda aniq rejaga
                        asoslangan IT(Information Technology) , biznes loyihalarini
                        boshlamoqchi edi.
                    </div>

                    <div class="about-academy-text3" data-aos="zoom-up">
                        Afsuski, talab darajasidagi mutaxassislar O‘zbekistonda juda kam va
                        borlari ham ish bilan band.
                    </div>
                </div>
            </div>
        </div>
        <!-- Bg Curl -->
        <div>
            <img alt="#" class="bg-curl" src="../assets/images/curly-bg-5.png" style="margin-top: -200px">
        </div>
        <!-- Bg Curl -->
        <div>
            <img alt="#" class="bg-curl2 m-0" src="../assets/images/curly-bg-6.png" style="z-index: 1">
        </div>

        <div class="row flex-row-reverse">

            <div class="col-12 col-md-6" data-aos="fade-down" data-aos-easing="linear" style="z-index: 2">
                <div class="about-academy2-text ms-4 ms-md-0">
                    Shu sababdan kompaniya o‘zi uchun mutaxassislarni yetishtirib chiqarishni maqsad qildi va <span
                    class="oranged">LAVIA ACADEMY</span>
                    tashkil qilindi.
                </div>
                <p class="ps-2 ps-md-0">
                    <span class="oranged">DIQQAT:</span> Lavia academy o‘zida o‘qigan talabalarni o‘zining yo‘nalishi
                    bo‘yicha
                    ishda
                    olib qoladi. Talabalar o‘qishni yakunlagandan so‘ng, kurslar uchun qayta qabul bo‘lmaydi.
                </p>
                <p class="ps-2 ps-md-0">
                    Sababi biz tayyor mutaxassislar bilan boshqa loyihalarga start berib, shu bo‘yicha ishlashda davom
                    etamiz.
                </p>
                <p class="ps-2 ps-md-0">
                    Demak hozir sifatli ta'lim va ish bilan kafolatlangan kursga yozilish uchun YAGONA imkoniyat.
                </p>
            </div>

            <div class="col-12 col-md-6 d-flex justify-content-center ps-5 ps-md-0 mt-5" data-aos="fade-up"
                 data-aos-easing="linear">
                <img alt="#" class="laptop" src="../assets/images/sitting-with-laptop.png" width="350">
            </div>

        </div>

        <div class="col-12 mt-5" data-aos="zoom-in" data-aos-duration="800" data-aos-easing="linear">
            <div class="row d-flex justify-content-center mt-2 me-3 ms-3" style="background-color: #FFA50208;">

                <div class="col-11 search-box text-center">
                    <div class="search-box-text">
                        O‘zbekistonda yana shunga o‘xshash o‘zining bitiruvchilarini ish bilan ta‘minlaydigan o‘quv
                        markaz va Oliy
                        Ta‘lim muassasi haqida bilasizmi?
                        Agar, HA, bo‘lsa yozib qoldiring.
                    </div>
                </div>
                <div class="col-12 col-md-8 pt-3 d-flex justify-content-center justify-content-md-start">
                    <input v-model="info" placeholder="O’z fikringizni yozing..." type="text">
                </div>
                <div class="col-12 col-md-2 pt-3 pb-5 d-flex justify-content-center justify-content-md-start">
                    <button class="send-btn" @click="$refs.modal.click(); info=''">Yuborish</button>
                </div>
            </div>
        </div>

        <div class="col-12 d-flex justify-content-center">
            <div class="header-text4" data-aos="fade-down">
                BIZGA ISHONCH BILDIRGAN MASHHURLAR:
            </div>
        </div>
        <!-- Bg Curl -->
        <div>
            <img alt="#" class="bg-curl2" src="../assets/images/curly-bg-7.png">
        </div>

        <div class="col-12 p-5">
            <div class="row" v-if="getInfo.length > 0">
                <div
                    v-for="(info, index) in getInfo" :key="index"
                    class="col-12 col-sm-6 col-lg-4 col-xl-3 ps-3"
                    data-aos="fade-in"
                    data-aos-delay="100"
                >
                    <div class="card" v-if="info.media">
                        <video alt="..." class="img-fluid" controls :src="url + info.media[0].contentUrl">
                        </video>
<!--                        <div class="play-btn">-->
<!--                            <img alt="..." class="" src="../assets/images/play-btn.png">-->
<!--                        </div>-->
                    </div>
                    <div class="text-center famous-name">{{ info.text }}</div>
                </div>

            </div>
        </div>
        <!-- Bg Curl -->
        <div>
            <img alt="#" class="bg-curl" src="../assets/images/curly-bg-8.png" style="margin-top: -100px">
        </div>

        <div class="col-12">
            <div class="row d-flex justify-content-center mt-5">

                <div class="col-11 search-box text-center mb-5">
                    <div class="search-box-text" data-aos="fade-down" data-aos-delay="200">
                        Qabul boshlandi azizlar!!!
                    </div>
                    <div class="acceptance-box-text" data-aos="fade-up" data-aos-delay="400">
                        Hozir bizda dasturlash va kiberxavfsizlik yo‘nalishlar mavjud.
                    </div>
                    <div class="acceptance-box-text-last" data-aos="fade-up" data-aos-delay="600">
                        Ko’proq ma’lumot olish uchun qabul menyusiga o’ting !!
                    </div>
                    <button class="acceptance-btn" @click="reception" data-aos="fade-up" data-aos-delay="800">Qabul
                    </button>
                </div>
            </div>
        </div>

        <!-- Bg Curl -->
        <div class="resp-curl">
            <img alt="#" class="bg-curl" src="../assets/images/curly-bg-9.png" width="200">
        </div>
    </div>
</template>

<script>
import Header from "./Header.vue";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "HomePageContent",
    mounted() {
        this.fetchAboutUs()
    },
    data() {
        return {
            response: 'Javobingiz muvaffaqiyatli yuborildi',
            info: '',
            url: import.meta.env.VITE_APP_API_URL
        }
    },
    methods: {
        ...mapActions(['fetchAboutUs']),
        bonus() {
            this.$router.push('/test')
        },
        reception() {
            this.$router.push('/Reception')
        }
    },
    components: {Header},
    computed: {
        ...mapGetters(["getInfo"])
    }
}
</script>

<style scoped>
.main-col {
    background: #F5F5F5;
}

.alert {
    cursor: pointer;
}

/*TODO*/

/*.wrapper .icon {*/
/*  position: relative;*/
/*  padding: 15px;*/
/*  margin: 10px;*/
/*  width: 50px;*/
/*  height: 50px;*/
/*  font-size: 18px;*/
/*  background-color: #EE787E;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  cursor: pointer;*/
/*  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
/*}*/

/*.wrapper .tooltip {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  font-size: 14px;*/
/*  background: #ffffff;*/
/*  color: #ffffff;*/
/*  padding: 5px 8px;*/
/*  border-radius: 5px;*/
/*  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);*/
/*  opacity: 0;*/
/*  pointer-events: none;*/
/*  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
/*}*/

/*.wrapper .tooltip::before {*/
/*  position: absolute;*/
/*  content: "";*/
/*  height: 8px;*/
/*  width: 8px;*/
/*  background: #ffffff;*/
/*  bottom: -3px;*/
/*  left: 50%;*/
/*  transform: translate(-50%) rotate(45deg);*/
/*  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
/*}*/

/*.wrapper .icon:hover .tooltip {*/
/*  top: -45px;*/
/*  opacity: 1;*/
/*  visibility: visible;*/
/*  pointer-events: auto;*/
/*}*/

/*.wrapper .icon:hover span,*/
/*.wrapper .icon:hover .tooltip {*/
/*  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);*/
/*}*/

/*.wrapper .facebook:hover,*/
/*.wrapper .facebook:hover .tooltip,*/
/*.wrapper .facebook:hover .tooltip::before {*/
/*  background: #1877F2;*/
/*  color: #ffffff;*/
/*}*/

.btn-alert {
    margin: -50px 10px 0 0;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: none;
    color: white;
    font-weight: 500;
    background-color: #FA3913;
    box-shadow: 0 0 10px 0 #FA3913AB;
    text-align: center;
    line-height: 15px;
}

.percent {
    font-size: 16px;
}

.discount {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.3px;
}

.header-text {
    margin: 55px 0 10px 0;
    color: #111116;
    font-weight: 700;
    font-size: 23px;
    line-height: 38px;
    text-align: center;
    max-width: 500px;
    z-index: 1;
}

.bg-curl {
    position: absolute;
    left: 0;
}

.bg-curl2 {
    position: absolute;
    right: 0;
    margin-top: -100px;
}


.card-box {
    background: white;
    border-radius: 14px;
    box-shadow: 0 4px 11px 0 #00000040;
    max-width: 350px;
    margin: auto;
}

.statistic-sandbox {
    margin: 15px auto 0 auto;
}

.percentage {
    color: #FA3913;
    font-weight: 700;
}

.card-message {
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #6F6F76;
    line-height: 24px;
    padding: 0 10px 22px 10px;
    border-radius: 20px 20px 20px 0;
}

.colored-ul {
    padding-top: 30px;
    text-align: center;
}

ul {
    list-style: none;
}

.items-title {
    color: #343434 !important;
    font-weight: 500;
    font-size: 20px;
    line-height: 60px;
}

li {
    color: #6F6F76;
    font-size: 20px;
    line-height: 50px;
    font-weight: 400;
    margin-left: -30px;
}

.steve {
    width: 100%;
    max-width: 425px;
}

.header-text2 {
    z-index: 1;
    text-align: center;
    max-width: 700px;
    color: #515151;
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    margin-top: 30px;
}

.team-img > img {
    min-width: 350px;
    max-width: 500px;
}

.team-img {
    display: flex;
    justify-content: center;
}

.team-title {
    color: #111116;
    font-weight: 700;
    line-height: 32px;
    font-size: 21px;
    margin-top: 80px;
    text-align: center;
}

.oranged {
    color: #FFA502;
}

.laptop {
    width: 100%;
    max-width: 550px;
}

.ul2 > li {
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
}

.team-bottom-text {
    text-align: center;
    color: #515151;
    font-size: 19px;
    line-height: 26px;
    font-weight: 600;
}

.header-text3 {
    max-width: 900px;
    margin: 90px 30px 0 30px;
    font-weight: 600;
    font-size: 19px;
    line-height: 26px;
    text-align: center;
}

.fried-text {
    color: #FA3913;
}

.bg-curl3 {
    position: absolute;
    right: 0;
    margin-top: -100px;
    opacity: 0.3;
}

.header3-left-side {
    float: left;
}

.header3-text {
    font-weight: 600;
    line-height: 30px;
    color: #111116;
    font-size: 17px;
    width: 100%;
    margin-top: 40px;
}

.header3-text2 {
    font-size: 19px;
}

.about-academy {
    background: rgba(255, 241, 219, 0.24);
    border-radius: 5px;
    z-index: 1;
}

.fried-text2 {
    color: #EE787E;
}

.about-academy-text {
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;
    color: #111116;
    margin: 146px 0 50px 0;
}

.about-academy-text2, .about-academy-text3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #515151;
}

.about-academy-text3 {
    font-size: 18px !important;
    margin: 50px 0 120px 0;
}

.about-academy2-text {
    text-align: center;
    padding: 0 5px;
    font-weight: 700;
    font-size: 21px;
    line-height: 38px;
    color: #111116;
    margin: 60px 0 50px 0;
}

.search-box {
    border-radius: 5px;
    color: #111116;
    width: 100%;
    z-index: 1;
}

.search-box-text {
    font-weight: 700;
    font-size: 21px;
    line-height: 38px;
}

.send-btn {
    border: none;
    border-radius: 6px;
    background-color: #FFA502;
    color: white;
    font-family: Rubik, sans-serif;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 5px 10px 30px 0 #FFA5024D;
    padding: 10px 25px;
}

input {
    width: 80% !important;
    height: 45px;
    border: 1px solid #FFA502;
    border-radius: 10px;
    padding-left: 10px;
    box-shadow: 0 0 30px 0 #FFA5024D;
}

.header-text4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    text-align: center;
    padding: 50px 20px 20px 20px;
    z-index: 1;
}

.card {
    border-radius: 15px;
    border: none;
}

.img-fluid {
    opacity: 0.7;
    border-radius: 15px;
}

.play-btn {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.famous-name {
    font-weight: 700;
    color: black;
    font-size: 20px;
    line-height: 50px;
    margin-top: 10px;
}

.acceptance-box-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
    color: #111116;
}

.acceptance-box-text-last {
    font-weight: 600;
    color: #515151;
    font-size: 18px;
    margin-top: 25px;
}

.acceptance-btn {
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background-color: #FFA502;
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-top: 35px;
}

.resp-curl {
    margin-top: -100px;
}

@media only screen and (min-width: 768px) {
    .header-text {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }

    .card-box {
        box-shadow: none;
        margin-top: 60px;
        margin-bottom: -90px;
    }

    .statistic-sandbox {
        margin: -45px auto 0 auto;
    }

    .card-message {
        position: relative;
        background-color: white;
    }

    .card-message:before, .card-message:after {
        content: "";
        position: absolute;
        bottom: -2px;
        height: 20px;
    }

    .card-message:before {
        left: -10px;
        border-left: 10px solid white;
        -webkit-transform: translate(0, -2px);
        transform: translate(0, -2px);
    }

    .card-message:after {
        left: 4px;
        width: 26px;
        background: #F5F5F5;
        border-bottom-right-radius: 10px;
        -webkit-transform: translate(-30px, -2px);
        transform: translate(-30px, -2px);
    }

    .item1::before, .item2::before, .item3::before, .item4::before {
        content: "\2022";
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }

    .item1::before {
        color: #FFA502;
    }

    .item2::before {
        color: #FA3913;
    }

    .item3::before {
        color: #2CBFBE;
    }

    .item4::before {
        color: #6B47FC;
    }

    .colored-ul {
        text-align: left;
        margin-top: 60px;
    }

    .header-text2 {
        max-width: 800px;
        font-size: 27px;
        line-height: 40px;
        margin-top: 10px;
    }

    .team-img > img {
        margin: 150px auto auto auto;
    }

    .team-title {
        line-height: 40px;
        font-size: 30px;
        margin-top: 80px;
        text-align: left;
    }

    .ul2 > li {
        line-height: 30px;
        font-size: 18px;
        text-align: start;
        margin-top: 15px;
    }

    .team-bottom-text {
        font-size: 20px;
        line-height: 30px;
        margin-left: -100%;
    }

    .header-text3 {
        font-size: 30px;
        line-height: 47px;
        font-weight: 700;
    }

    .header3-text {
        line-height: 35px;
        font-size: 20px;
    }

    .header3-left-side {
        padding-top: 80px;
    }

    .about-academy-text {
        font-size: 28px;
        line-height: 40px;
        margin: 146px 0 50px 0;
    }

    .about-academy-text2 {
        font-size: 29px;
        line-height: 40px;
    }

    .about-academy-text3 {
        font-size: 26px;
        line-height: 40px;
        margin: 50px 0 20px 0;
    }

    .laptop {
        margin: auto;
        display: flex;
        width: 100%;
    }

    .about-academy2-text {
        text-align: left;
        padding: 0;
        font-size: 28px;
        line-height: 32px;
        margin: 60px 0 30px 0;
    }

    .search-box {
        width: 90%;
        z-index: 1;
    }

    .search-box-text {
        font-size: 25px;
        line-height: 34px;
        padding: 50px 10px;
    }

    input {
        width: 100% !important;
        height: 64px;
    }

    .send-btn {
        font-size: 19px;
        height: 64px;
        padding: 0 40px;
    }

    .header-text4 {
        font-size: 30px;
        line-height: 58px;
    }

    .search-box-text {
        font-size: 39px;
        line-height: 58px;
    }

    .acceptance-box-text {
        font-size: 35px;
        margin-top: -20px;
        line-height: 40px;
    }

    .acceptance-box-text-last {
        font-size: 29px;
        margin-top: 40px;
    }
}

@media only screen and (min-width: 992px) {
    .team-bottom-text {
        margin: -30px 0 0 0;
        text-align: left;
    }

    .card-box {
        position: absolute;
        margin: -110px 0 0 220px;
    }

    .header-text {
        margin-bottom: 180px;
    }
}

@media only screen and (min-width: 1400px) {
    .btn-alert {
        margin: -75px 10px 0 0;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        line-height: 25px;
    }

    .percent {
        font-size: 28px;
    }

    .discount {
        font-size: 15px;
    }

    .header-text {
        font-size: 40px;
        line-height: 58px;
        max-width: 650px;
    }

    .items-title {
        font-size: 27px;
    }

    li {
        font-size: 27px;
        line-height: 60px;
    }

    .colored-ul {
        padding: 0;
    }

    .team-title {
        font-size: 40px;
        line-height: 58px;
        margin-top: 150px;
        text-align: left;
        max-width: 700px;
    }

    .team-img > img {
        max-width: 760px;
    }

    .ul2 > li {
        line-height: 46px;
        font-size: 27px;
        text-align: start;
    }

    .team-bottom-text {
        font-size: 25px;
        line-height: 40px;
    }

    .header-text3 {
        font-size: 40px;
        line-height: 58px;
    }
}

@media only screen and (max-width: 991px) {
    .resp-curl {
        margin-top: -30px;
    }

    .resp-curl > img {
        width: 100px;
    }
}

</style>