<template>
    <div class="content">
        <aside class="aside">
            <h2 class="header">Lavia.uz</h2>
            <div class="aside-links">
                <span @click="$router.push('/user-edit')" style="cursor: pointer">Users</span>
                <span @click="$router.push('/teacher-edit')" style="cursor: pointer">Teachers</span>
                <span @click="$router.push('/course-edit')" style="cursor: pointer">Courses</span>
                <span @click="$router.push('/about-us-edit')" style="cursor: pointer">About Us</span>
                <span @click="logout" style="cursor: pointer">Log out</span>
            </div>
        </aside>
        <div class="main">
            <div class="button-div">
                <button
                    type="button"
                    class="btn btn-primary button"
                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                    @click="
                    title = 'New teacher';
                    aboutData = {};
                    "
                >
                    Create new
                </button>
            </div>
            <table class="table">
                <caption>
                    List of About Us
                </caption>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Meida</th>
                    <th scope="col">Text</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(info, index) in getInfo" :key="index">
                    <th scope="row">{{index + 1}}</th>
                    <td>
                        <video v-if="info.media" style="width: 15vw" alt="..." class="img-fluid" controls :src="url + info.media[0].contentUrl">
                        </video>
                    </td>
                    <td>{{ info.text }}</td>
                    <td>
                        <img
                            data-bs-toggle="modal" data-bs-target="#exampleModal2"
                            class="imgx icon"
                            src="https://img.icons8.com/material-outlined/24/null/trash--v1.png"
                            @click="id = info.id"
                        />
                        <img
                            data-bs-toggle="modal" data-bs-target="#exampleModal"
                            @click="title = 'Edit teacher'; aboutData = JSON.parse(JSON.stringify(info)); delete aboutData['media']"
                            class="imgx icon2"
                            src="https://img.icons8.com/material-outlined/24/null/edit--v1.png"
                        />
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <textarea
                                            v-model="aboutData.text"
                                            class="form-control"
                                            placeholder="Information"
                                            id="additional"
                                        ></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="custom-file">
                                            <label for="image" class="btn btn-primary">
                                                <span>Video tanlang</span>
                                            </label>
                                            <input
                                                id="image"
                                                style="display: none"
                                                type="file"
                                                accept="video/*"
                                                @change="importVideo($event)"
                                            >
                                            <span
                                                v-if="aboutData.media"
                                                class="d-inline-block ml-2 pt-2 text-primary text-truncate"
                                                style="max-width: 250px; margin-left: 15px"
                                            >
                                                {{ file.name }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="addOrEdit">
                                Save changes
                            </button> </div>
                    </div>
                </div>
            </div>

            <!-- Button trigger modal -->
            <button ref="del-modal" type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal2">
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        </div>
                        <div class="modal-body">
                            <h3>
                                Haqiqatda o'chirmoqchimisiz?
                            </h3>
                        </div>
                        <div class="modal-footer">
                            <button ref="closeModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Yo'q
                            </button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="deleteAboutUs">Ha</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: "AboutUses",
    computed: {
        ...mapGetters(["getInfo"])
    },
    methods: {
        ...mapActions(['clearTokens', "fetchAboutUs", "fetchDeleteAboutUs", "fetchChangeOrPushAboutUs", "pushImage"]),
        logout() {
            this.clearTokens()
            this.$router.push('/login')
        },
        addOrEdit() {
            this.fetchChangeOrPushAboutUs(this.aboutData)
                .then(() => {
                    this.$refs.closeModal.click()
                    this.$router.go(0)
                })
        },
        importVideo(event) {
            this.file = event.target.files[0]
            const data = new FormData();
            data.append('file', this.file)

            this.pushImage(data)
                .then((res) => {
                    this.aboutData.media = [res['@id']]
                })
                .catch(() => {
                    this.file = null
                })
        },
        deleteAboutUs() {
            this.fetchDeleteAboutUs(this.id)
                .then(() => {
                    this.$router.go(0)
                })
        }
    },
    data() {
        return {
            title: '',
            aboutData: {},
            url: import.meta.env.VITE_APP_API_URL
        }
    },
    mounted() {
        this.fetchAboutUs()
    }
}
</script>

<style scoped>
body {
    margin: 0;
}

.aside {
    position: fixed;
    display: flex;
    width: 15vw;
    height: 100vh;
    flex-direction: column;
    padding-left: 20px;
    background-color: #fbfcf7;
}

.content {
    display: flex;
}

.header {
    margin-top: 10px;
    font-size: xx-large;
}

.aside-links {
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: 500;
    text-decoration: none;
}

.link {
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

.main {
    margin-left: 15vw;
    width: 85vw;
}

.button-div {
    display: flex;
    justify-content: flex-end;
}

.button {
    margin: 10px 20px 10px 0;
}

.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.imgx {
    cursor: pointer;
}

.icon2 {
    margin-left: 10px;
}

.custom-file {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
</style>