<template>
    <div class="content">
        <aside class="aside">
            <h2 class="header">Lavia.uz</h2>
            <div class="aside-links">
                <span @click="$router.push('/user-edit')" style="cursor: pointer">Users</span>
                <span @click="$router.push('/teacher-edit')" style="cursor: pointer">Teachers</span>
                <span @click="$router.push('/course-edit')" style="cursor: pointer">Courses</span>
                <span @click="$router.push('/about-us-edit')" style="cursor: pointer">About Us</span>
                <span @click="logout" style="cursor: pointer">Log out</span>
            </div>
        </aside>
        <div class="main">
            <div class="button-div">
                <button
                    type="button"
                    class="btn btn-primary button"
                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                    @click="
                    title = 'New teacher';
                    courseData = {};
                    "
                >
                    Create new
                </button>
            </div>
            <table class="table">
                <caption>
                    List of Courses
                </caption>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Teacher</th>
                    <th scope="col">Members</th>
                    <th scope="col">Count of students</th>
                    <th scope="col">Starting Date</th>
                    <th scope="col">Additional Info</th>
                    <th scope="col">Future Skill</th>
                    <th scope="col">Students</th>
                    <th scope="col">Price</th>
                    <th scope="col">Active</th>
                    <th scope="col">Actions</th>
                    <!-- <th scope="col">Created at</th>
                    <th scope="col">Updated at</th> -->
                </tr>
                </thead>
                <tbody>
                <tr v-for="(course, index) in getCourses" :key="index">
                    <th scope="row">{{ index + 1 }}</th>
                    <td>{{ course.name }}</td>
                    <td>{{ course.teacher.givenName + ' ' + course.teacher.familyName }}</td>
                    <td>{{ course.members }}</td>
                    <td>{{ course.countOfStudents }}</td>
                    <td>{{ dateTimeFormat(course.startingDate, true) }}</td>
                    <td>{{ course.additionalInfo }}</td>
                    <td>{{ course.futureSkills }}</td>
                    <td>
                        <select aria-label="Default select example" class="form-select">
                            <option
                                v-if="course.students.length > 0"
                                v-for="(studnet, indexx) in course.studens"
                                :key="indexx"
                            >
                                {{ studnet.teacher.givenName + ' ' + studnet.familyName + ' ' + studnet.patronymic }}
                            </option>
                        </select>
                    </td>
                    <td>{{ course.price }}</td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                                   v-model="course.isActive" disabled>
                        </div>
                    </td>
                    <!-- <td>@mdo</td> -->
                    <td>
                        <img
                            data-bs-toggle="modal" data-bs-target="#exampleModal2"
                            class="imgx icon"
                            src="https://img.icons8.com/material-outlined/24/null/trash--v1.png"
                            @click="id = course.id"
                        />
                        <img
                            data-bs-toggle="modal" data-bs-target="#exampleModal"
                            @click="
                            title = 'Edit teacher';
                            courseData = JSON.parse(JSON.stringify(course));
                            courseData.startingDate = courseData.startingDate.split('T')[0];
                            courseData.teacher = courseData.teacher['@id']
                            teacherId = courseData.teacher
                            "
                            class="imgx"
                            src="https://img.icons8.com/material-outlined/24/null/edit--v1.png"
                        />
                    </td>
                </tr>
                <tr v-if="getCourses.length === 0">
                    Ma'lumot topilmadi
                </tr>
                </tbody>
            </table>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input
                                            placeholder="Name"
                                            type="text"
                                            class="form-control"
                                            id="given-name"
                                            aria-label="Small"
                                            aria-describedby="inputGroup-sizing-sm"
                                            required
                                            v-model="courseData.name"
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input
                                            required
                                            v-model="courseData.price"
                                            placeholder="Price"
                                            type="text"
                                            class="form-control"
                                            id="price"
                                            aria-label="Small"
                                            aria-describedby="inputGroup-sizing-sm"
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input
                                            required
                                            v-model="courseData.countOfStudents"
                                            placeholder="Count of Students"
                                            type="text"
                                            class="form-control"
                                            id="count_of_students"
                                            aria-label="Small"
                                            aria-describedby="inputGroup-sizing-sm"
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input
                                            required
                                            v-model="courseData.members"
                                            placeholder="Members"
                                            type="text"
                                            class="form-control"
                                            id="count_of_students"
                                            aria-label="Small"
                                            aria-describedby="inputGroup-sizing-sm"
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    Teacher
                                </div>

                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <select aria-label="Default select example" class="form-select" required
                                                v-model="courseData.teacher">
                                            <option
                                                v-if="getTeachers.filter(t => t.course === null || t['@id'] === courseData.teacher).length > 0"
                                                v-for="(teacher, index) in getTeachers.filter(t => t.course === null || t['@id'] === courseData.teacher)"
                                                :key="index"
                                                :value="teacher['@id']"
                                            >
                                                {{ teacher.givenName + ' ' + teacher.familyName }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="form-check form-switch">
                                            <!--                                        v-model="courseData.isActive"-->
                                            <input class="form-check-input" type="checkbox" role="switch" required
                                                   v-model="courseData.isActive"
                                                   id="flexSwitchCheckChecked" checked>
                                            <label class="form-check-label" for="flexSwitchCheckChecked">Is
                                                Active</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input
                                            required
                                            v-model="courseData.startingDate"
                                            placeholder="Starting Date"
                                            type="date"
                                            class="form-control"
                                            id="start_date"
                                            aria-label="Small"
                                            aria-describedby="inputGroup-sizing-sm"
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                    <textarea
                                        required
                                        v-model="courseData.additionalInfo"
                                        class="form-control"
                                        placeholder="Additional Info"
                                        id="additional"
                                    ></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input
                                            required
                                            v-model="courseData.futureSkills"
                                            placeholder="Future Skill"
                                            type="text"
                                            class="form-control"
                                            id="skills"
                                            aria-label="Small"
                                            aria-describedby="inputGroup-sizing-sm"
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    (Enter skills with '/'. eg: "java/python")
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="addOrEdit">
                                Save changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <button ref="del-modal" type="button" class="btn btn-primary d-none" data-bs-toggle="modal"
                    data-bs-target="#exampleModal2">
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        </div>
                        <div class="modal-body">
                            <h3>
                                Haqiqatda o'chirmoqchimisiz?
                            </h3>
                        </div>
                        <div class="modal-footer">
                            <button ref="closeModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Yo'q
                            </button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="deleteCourse">
                                Ha
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import dateFormattingMixin from "../../mixin/dateFormattingMixin.js";

export default {
    name: "Courses",
    mixins: [dateFormattingMixin],
    computed: {
        ...mapGetters(['getCourses', "getTeachers"])
    },
    data() {
        return {
            courseData: {},
            title: ''
        }
    },
    methods: {
        ...mapActions([
            'clearTokens',
            'fetchCourses',
            'fetchChangeOrPushCourse',
            "fetchDeleteCourse",
            'fetchTeachers'
        ]),
        logout() {
            this.clearTokens()
            this.$router.push('/login')
        },
        addOrEdit() {
            if (this.courseData.teacher === this.teacherId) {
                delete this.courseData['teacher']
            }

            this.fetchChangeOrPushCourse(this.courseData)
                .then(() => {
                    this.$refs.closeModal.click()
                    this.$router.go(0)
                })
        },
        deleteCourse() {
            this.fetchDeleteCourse(this.id)
                .then(() => {
                    this.$router.go(0)
                })
        }
    },
    mounted() {
        this.fetchCourses()
        this.fetchTeachers()
    }
}
</script>

<style scoped>
body {
    margin: 0;
}

.aside {
    position: fixed;
    display: flex;
    width: 12vw;
    height: 100vh;
    flex-direction: column;
    padding-left: 20px;
    background-color: #fbfcf7;
}

.content {
    display: flex;
}

.header {
    margin-top: 10px;
    font-size: xx-large;
}

.aside-links {
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: 500;
    text-decoration: none;
}

.link {
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

.main {
    margin-left: 12vw;
    width: 85vw;
}

.button-div {
    display: flex;
    justify-content: flex-end;
}

.button {
    margin: 10px 20px 10px 0;
}

.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.imgx {
    cursor: pointer;
}

.icon2 {
    margin-left: 10px;
}

</style>