<template>
    <div class="content">
        <aside class="aside">
            <h2 class="header">Lavia.uz</h2>
            <div class="aside-links">
                <span @click="$router.push('/user-edit')" style="cursor: pointer">Users</span>
                <span @click="$router.push('/teacher-edit')" style="cursor: pointer">Teachers</span>
                <span @click="$router.push('/course-edit')" style="cursor: pointer">Courses</span>
                <span @click="$router.push('/about-us-edit')" style="cursor: pointer">About Us</span>
                <span @click="logout" style="cursor: pointer">Log out</span>
            </div>
        </aside>
        <div class="main">
            <div class="button-div">
                <button
                    type="button"
                    class="btn btn-primary button"
                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                    @click="
                    title = 'New teacher';
                    teacherData = {};
                    "
                >
                    Create new
                </button>
            </div>

            <table class="table">
                <caption>
                    List of teachers
                </caption>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Picture</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Patronymic</th>
                    <th scope="col">Degree</th>
                    <th scope="col">Experience</th>
                    <th scope="col">Country</th>
                    <th scope="col">Additional</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(teacher, index) in getTeachers" :key="index">
                    <th scope="row">{{ index + 1 }}</th>
                    <td><img :src="url + teacher.picture.contentUrl" class="img" alt="icon"/></td>
                    <td>{{ teacher.givenName }}</td>
                    <td>{{ teacher.familyName }}</td>
                    <td>{{ teacher.patronymic }}</td>
                    <td>{{ teacher.degree }}</td>
                    <td>{{ teacher.experience }}</td>
                    <td>{{ teacher.country }}</td>
                    <td>{{ teacher.additional }}</td>
                    <td>
                        <img
                            data-bs-toggle="modal" data-bs-target="#exampleModal2"
                            class="imgx icon"
                            src="https://img.icons8.com/material-outlined/24/null/trash--v1.png"
                            @click="id = teacher.id"
                            alt=""/>
                        <img
                            data-bs-toggle="modal" data-bs-target="#exampleModal"
                            @click="title = 'Edit teacher'; teacherData = JSON.parse(JSON.stringify(teacher)); delete teacherData['picture']"
                            class="imgx"
                            src="https://img.icons8.com/material-outlined/24/null/edit--v1.png"
                            alt=""/>
                    </td>
                </tr>
                <tr v-if="getTeachers.length === 0">
                    Ma'lumot topilmadi
                </tr>
                </tbody>
            </table>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">{{ title }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input
                                            required
                                            v-model="teacherData.givenName"
                                            placeholder="Name"
                                            type="text"
                                            class="form-control"
                                            id="given-name"
                                            aria-label="Small"
                                            aria-describedby="inputGroup-sizing-sm"
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input
                                            required
                                            v-model="teacherData.familyName"
                                            placeholder="Family Name"
                                            type="text"
                                            class="form-control"
                                            id="family-name"
                                            aria-label="Small"
                                            aria-describedby="inputGroup-sizing-sm"
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input
                                            required
                                            v-model="teacherData.patronymic"
                                            placeholder="Patronymic"
                                            type="text"
                                            class="form-control"
                                            id="patronymic"
                                            aria-label="Small"
                                            aria-describedby="inputGroup-sizing-sm"
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input
                                            required
                                            v-model="teacherData.degree"
                                            placeholder="Degree"
                                            type="text"
                                            class="form-control"
                                            id="degree"
                                            aria-label="Small"
                                            aria-describedby="inputGroup-sizing-sm"
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input
                                            required
                                            v-model="teacherData.experience"
                                            placeholder="Experience"
                                            type="text"
                                            class="form-control"
                                            id="experience"
                                            aria-label="Small"
                                            aria-describedby="inputGroup-sizing-sm"
                                        />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <textarea
                                            v-model="teacherData.additional"
                                            class="form-control"
                                            placeholder="Additional"
                                            id="additional"
                                        ></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input
                                            required
                                            v-model="teacherData.country"
                                            placeholder="Country"
                                            type="text"
                                            class="form-control"
                                            id="country"
                                            aria-label="Small"
                                            aria-describedby="inputGroup-sizing-sm"
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="custom-file">
                                            <label for="image" class="btn btn-primary">
                                                <span>Rasm tanlang</span>
                                            </label>
                                            <input
                                                id="image"
                                                style="display: none"
                                                type="file"
                                                accept="image/*"
                                                @change="importImage($event)"
                                            >
                                            <span
                                                v-if="teacherData.picture"
                                                class="d-inline-block ml-2 pt-2 text-primary text-truncate"
                                                style="max-width: 250px; margin-left: 15px"
                                            >
                                                {{ file.name }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button ref="closeModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Yopish
                            </button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="addOrEdit">
                                Save changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Button trigger modal -->
            <button ref="del-modal" type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal2">
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        </div>
                        <div class="modal-body">
                            <h3>
                                Haqiqatda o'chirmoqchimisiz?
                            </h3>
                        </div>
                        <div class="modal-footer">
                            <button ref="closeModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Yo'q
                            </button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="deleteTeacher">Ha</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: "Teachers",
    computed: {
        ...mapGetters(['getTeachers'])
    },
    methods: {
        ...mapActions(['clearTokens', 'fetchTeachers', 'fetchChangeOrPushTeacher', 'pushImage', 'fetchDeleteTeacher']),
        logout() {
            this.clearTokens()
            this.$router.push('/login')
        },
        addOrEdit() {
            this.fetchChangeOrPushTeacher(this.teacherData)
                .then(() => {
                    this.$refs.closeModal.click()
                    this.$router.go(0)
                })
        },
        importImage(event) {
            this.file = event.target.files[0]
            const data = new FormData();
            data.append('file', this.file)

            this.pushImage(data)
                .then((res) => {
                    this.teacherData.picture = res['@id']
                })
                .catch(() => {
                    this.file = null
                })
        },
        deleteTeacher() {
            this.fetchDeleteTeacher(this.id)
                .then(() => {
                    this.$router.go(0)
                })
        }
    },
    mounted() {
        this.fetchTeachers()
    },
    data() {
        return {
            title: '',
            teacherData: {},
            url: import.meta.env.VITE_APP_API_URL
        }
    }
}
</script>

<style scoped>
body {
    margin: 0;
}

.aside {
    position: fixed;
    display: flex;
    width: 15vw;
    height: 100vh;
    flex-direction: column;
    padding-left: 20px;
    background-color: #fbfcf7;
}

.content {
    display: flex;
}

.header {
    margin-top: 10px;
    font-size: xx-large;
}

.aside-links {
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: 500;
    text-decoration: none;
}

.link {
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

.main {
    margin-left: 15vw;
    width: 85vw;
}

.button-div {
    display: flex;
    justify-content: flex-end;
}

.button {
    margin: 10px 20px 10px 0;
}

.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.imgx {
    cursor: pointer;
}

.icon2 {
    margin-left: 10px;
}

.custom-file {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

</style>