<template>
    <div class="content">
        <aside class="aside">
            <h2 class="header">Lavia.uz</h2>
            <div class="aside-links">
                <span @click="$router.push('/user-edit')" style="cursor: pointer">Users</span>
                <span @click="$router.push('/teacher-edit')" style="cursor: pointer">Teachers</span>
                <span @click="$router.push('/course-edit')" style="cursor: pointer">Courses</span>
                <span @click="$router.push('/about-us-edit')" style="cursor: pointer">About Us</span>
                <span @click="logout" style="cursor: pointer">Log out</span>
            </div>
        </aside>
        <div class="main mt-5">
<!--            <div class="button-div">-->
<!--                <button-->
<!--                    type="button"-->
<!--                    class="btn btn-primary button"-->
<!--                    data-bs-toggle="modal" data-bs-target="#exampleModal"-->
<!--                >-->
<!--                    Create new-->
<!--                </button>-->
<!--            </div>-->
            <table class="table">
                <caption>
                    List of teachers
                </caption>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Patronymic</th>
                    <th scope="col">Age</th>
                    <th scope="col">Address</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">@Telegram</th>
<!--                    <th scope="col">Actions</th>-->
                </tr>
                </thead>
                <tbody>
                <tr v-for="(user, index) in getUsers">
                    <th scope="row">{{ index + 1 }}</th>
                    <td>{{ user.givenName }}</td>
                    <td>{{ user.familyName }}</td>
                    <td>{{ user.patronymic }}</td>
                    <td>{{ user.age }}</td>
                    <td>{{ user.address }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.telephone }}</td>
                    <td>{{ user.telegramNumber }}</td>
<!--                    <td>-->
<!--                        <img-->
<!--                            class="imgx icon"-->
<!--                            src="https://img.icons8.com/material-outlined/24/null/trash&#45;&#45;v1.png"-->
<!--                        />-->
<!--                        <img-->
<!--                            data-toggle="modal"-->
<!--                            data-target="#exampleModal"-->
<!--                            data-whatever="@mdo"-->
<!--                            class="imgx"-->
<!--                            src="https://img.icons8.com/material-outlined/24/null/edit&#45;&#45;v1.png"-->
<!--                        />-->
<!--                    </td>-->
                </tr>
                <tr v-if="getUsers.length === 0">
                    Ma'lumot topilmadi
                </tr>
                </tbody>
            </table>

<!--            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"-->
<!--                 aria-hidden="true">-->
<!--                <div class="modal-dialog">-->
<!--                    <div class="modal-content">-->
<!--                        <div class="modal-header">-->
<!--                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>-->
<!--                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                        </div>-->
<!--                        <div class="modal-body">-->
<!--                            <form>-->
<!--                                <div class="form-group">-->
<!--                                    <div class="input-group mb-3">-->
<!--                                        <input-->
<!--                                            placeholder="Name"-->
<!--                                            type="text"-->
<!--                                            class="form-control"-->
<!--                                            id="given-name"-->
<!--                                            aria-label="Small"-->
<!--                                            aria-describedby="inputGroup-sizing-sm"-->
<!--                                        />-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <input-->
<!--                                        placeholder="Family Name"-->
<!--                                        type="text"-->
<!--                                        class="form-control"-->
<!--                                        id="family-name"-->
<!--                                        aria-label="Small"-->
<!--                                        aria-describedby="inputGroup-sizing-sm"-->
<!--                                    />-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <input-->
<!--                                        placeholder="Patronymic"-->
<!--                                        type="text"-->
<!--                                        class="form-control"-->
<!--                                        id="patronymic"-->
<!--                                        aria-label="Small"-->
<!--                                        aria-describedby="inputGroup-sizing-sm"-->
<!--                                    />-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <input-->
<!--                                        placeholder="Telephone number"-->
<!--                                        type="text"-->
<!--                                        class="form-control"-->
<!--                                        id="tel_number"-->
<!--                                        aria-label="Small"-->
<!--                                        aria-describedby="inputGroup-sizing-sm"-->
<!--                                    />-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <input-->
<!--                                        placeholder="Telegram Username"-->
<!--                                        type="text"-->
<!--                                        class="form-control"-->
<!--                                        id="telegram"-->
<!--                                        aria-label="Small"-->
<!--                                        aria-describedby="inputGroup-sizing-sm"-->
<!--                                    />-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <input-->
<!--                                        placeholder="Age"-->
<!--                                        type="text"-->
<!--                                        class="form-control"-->
<!--                                        id="age"-->
<!--                                        aria-label="Small"-->
<!--                                        aria-describedby="inputGroup-sizing-sm"-->
<!--                                    />-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <input-->
<!--                                        placeholder="Address"-->
<!--                                        type="text"-->
<!--                                        class="form-control"-->
<!--                                        id="address"-->
<!--                                        aria-label="Small"-->
<!--                                        aria-describedby="inputGroup-sizing-sm"-->
<!--                                    />-->
<!--                                </div>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                        <div class="modal-footer">-->
<!--                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>-->
<!--                            <button type="button" class="btn btn-primary">Save changes</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: "Users",
    computed: {
        ...mapGetters(['getUsers'])
    },
    methods: {
        ...mapActions(['clearTokens', "fetchGetAllUsers"]),
        logout() {
            this.clearTokens()
            this.$router.push('/login')
        },
    },
    mounted() {
        this.fetchGetAllUsers()
    }
}
</script>

<style scoped>
body {
    margin: 0;
}

.aside {
    position: fixed;
    display: flex;
    width: 15vw;
    height: 100vh;
    flex-direction: column;
    padding-left: 20px;
    background-color: #fbfcf7;
}

.content {
    display: flex;
}

.header {
    margin-top: 10px;
    font-size: xx-large;
}

.aside-links {
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: 500;
    text-decoration: none;
}

.link {
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

.main {
    margin-left: 15vw;
    width: 85vw;
}

.button-div {
    display: flex;
    justify-content: flex-end;
}

.button {
    margin: 10px 20px 10px 0;
}

.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.imgx {
    cursor: pointer;
}

.icon2 {
    margin-left: 10px;
}

</style>